@import "base/variables";
// @import "mixins";
// @import "media";

* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

h1, h2, h3, p {
    margin: 0;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

@import "blocks/promo";
@import "blocks/header";
@import "blocks/buttons";
@import "blocks/advantages";
@import "blocks/titles";