@import "base/variables";
// @import "mixins";
// @import "media";

* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

h1, h2, h3, p {
    margin: 0;
}

.container {
    max-width: 950px;
    margin: 0 auto;

    @media screen and (max-width: 991px) {
    max-width: 700px;
    }

    @media screen and (max-width: 767px) {
    max-width: 500px;   
    }

    @media screen and (max-width: 575px) {
    max-width: 300px;   
    }
}



@import "blocks/promo";
@import "blocks/header";
@import "blocks/buttons";
@import "blocks/advantages";
@import "blocks/titles";
@import "blocks/consultation";
@import "blocks/forms";