.consultation {
    min-height: 680px;
    padding: 100px 0 108px 0;
    background: url('../img/bg2.jpg') center (center / cover) no-repeat;
    &__text {
        margin-top: 8px;
        color: $white_color;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.5;
        text-align: left; 
    }

    @media screen and (max-width: 767px) {
    min-height: 480px;
    padding: 60px 0 68px 0;
    }

    @media screen and (max-width: 575px) {
    &__text {
        font-size: 16px;
    }
    }
}