.reviews {
    margin-bottom: 26px;

    &__wrapper {
        display: flex;
        margin-top: 60px;
    }
    &__img {
        height: 169px;
        width: 169px;
        display: block;
    }
    &__info {
        margin-left: 61px;
    }
    &__name {
        color: $main_text_color;
        font-weight: bold;
        font-size: 18px;
        line-height: 1;
    }
    &__number {
        color: #646464;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.57;
    }
    &__text {
        color: $main_text_color;
        margin-top: 10px;
        font-weight: 300;
        font-size: 16px;
        line-height: 1.56;
    }
    
    @media screen and (max-width: 767px) {
    &__wrapper {
        flex-direction: column;
    }
    &__img {
        margin: 0 auto;
    }
    &__info {
        margin-left: 0;
    }
    &__name {
        margin-top: 16px;
        text-align: center;
    }
    &__number {
        text-align: center;
    }
    &__text {
        
    }
}
}